body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  background-color: #f5f5f5;
}

.task{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: white;
}

.high-priority {
  border-left: 6px solid red;
}

button {
  padding: 6px 10px;
  margin-right: 8px;
  cursor: pointer;
}